# From your Google Cloud service account's JSON key file
TYPE=service_account
PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
CLIENT_EMAIL=
CLIENT_ID=
TOKEN_URI=https://oauth2.googleapis.com/token

# The Google Drive folder (shared with the service account) where PDFs are stored
GOOGLE_DRIVE_FOLDER_ID=
